.Header {
    display: flex;
    justify-content: space-between;
    background-color:  #96aa92;
    padding: 0.5rem 2rem;
    height: 50px; 
}

.auth {
    display: flex;
    align-items: center;
    gap: 1rem;
    
}

.Social {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.Social a {
    display: inline-block;
    transition: transform 0.2s ease;     
}

.Social a:hover {
    transform: scale(1.2);
}


.TitleHeader h1 {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    font-size: 40px; 
}

img {
    width: 25px;
    
}

.auth a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    transition: transform 0.2s ease;
}

.auth a:hover {
    color: #00703C;
     transform: scale(1.05);
}
