@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    color: #FFFFFF;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background: #f0f0f0;
}