@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    color: #FFFFFF;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background: #f8f5f1;
}