.SubHeader {
    display: flex;
    justify-content: space-between;
    background-color:  #96aa92;
    color: #333333;
    padding: 1rem 2rem;
    
}

.Logo {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 0.5rem;   
}

.Logo img {
    width: 35px;
}

.Logo b {
    margin: 0;
    font-size: 24px;
}

.Search {
    display: flex; 
    flex-grow: 0.7;
}

.Search input {
    width: 100%;
    padding: 0.5rem;
    font-size: 14px;
    border: 2px solid #888;
    border-radius: 4px;
    background-color: #F9F9F9;
    border: 2px solid #E0E0E0;
}

.Search form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    gap: 0.5rem;
}


.Cart img {
    width: 40%;
    display: flex;
    justify-content: center;
}

.Cart a {
    display: inline-block;
    transition: transform 0.2s ease;
}

.Cart a:hover {
    transform: scale(1.2);
}